* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: #774524;
}

.page-div {
  width: 75vw;
  background: #774524;
}

.body-div {
  width: 75vw;
  background: blue;
  overflow: hidden;
}

.content-div {
  position: relative;
  background: #dacab3;
  min-height: 150vh;
  width: 75vw;
  float: left;
  padding: 10px 10px;
  line-height: 25px;
  word-spacing: 5px;
  transition: 0.5s;
}
.information-div {
  color: #dacab3;
  position: fixed;
  right: 0;
  background: #382819;
  width: 25vw;
  height: 100vh;
  float: left;
  transition: 0.5s;
}
.information-div h4,
h2 {
  display: block;
  clear: both;
}
.header-div {
  z-index: 5;
  position: fixed;
  bottom: 100vh;
  right: 0;
  background: #774524;
  height: 10vh;
  width: 100vw;
  transition: 0.5s;
}
.header-div ul {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header-div li {
  padding: 0.5rem 20px;
  background: #dacab3;
  border: #382819 solid 2px;
  border-radius: 5%;
  display: inline-block;
  width: 15%;
  height: 2.5rem;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}

.header-div li:active {
  transform: scale(0.9);
}
.header-div a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header-div a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.header-div li:hover a {
  padding-right: 25px;
}
.header-div li:hover a:after {
  opacity: 1;
  right: 0;
}
.header-div a {
  display: block;
  color: #382819;
  text-decoration: none;
}
.nav-icon {
  z-index: 4;
  background: url("../Imagenes/bars.png");
  display: inline-block;
  position: fixed;
  top: 0px;
  right: 0;
  width: 40px;
  height: 40px;
}
.checkb {
  opacity: 0;
  z-index: 6;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  height: 40px;
  width: 40px;
}
input:checked ~ .header-div {
  transform: translateY(10vh);
}
input:checked ~ .content-div,
input:checked ~ .information-div {
  transform: translateY(9vh);
}
input:disabled ~ .header-div {
  transform: translateY(-11vh);
}
input:checked ~ .nav-icon {
  background: url("../Imagenes/cross.png");
  z-index: 7;
}
input:checked {
  z-index: 8;
}
