* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background: grey;
}

.page-div {
  width: 100vw;
  background: red;
}

.body-div {
  height: 100%;
  width: 100%;
  background: blue;
  overflow: hidden;
}

.content-div {
  position: relative;
  top: 10vh;
  background: #fefefe;
  min-height: 100vh;
  width: 70vw;
  float: left;
  padding: 10px 10px;
  line-height: 25px;
  word-spacing: 5px;
}
.information-div {
  color: #fefefe;
  position: relative;
  top: 10vh;
  background: #3b2d60;
  width: 30vw;
  min-height: 100vh;
  float: left;
}
.header-div {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  background: #b784e7;
  height: 10vh;
  width: 100vw;
}
.header-div ul {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.header-div li {
  padding: 0.5rem 20px;
  background: #e8d7f7;
  border: #3b2d60 solid 2px;
  border-radius: 5%;
  display: inline-block;
  width: 15%;
  height: 2.5rem;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}

.header-div li:active {
  transform: scale(0.9);
}
.header-div a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header-div a:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.header-div li:hover a {
  padding-right: 25px;
}
.header-div li:hover a:after {
  opacity: 1;
  right: 0;
}
.header-div a {
  display: block;
  color: #3b2d60;
  text-decoration: none;
}
