.markdown-renderer {
  background-color: #23272F;
  padding-inline: 3vw;
  margin-top: 60px;
  grid-column: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  .markdown-renderer {
    background-color: #FFFFFF;
  }

}
