.card {
  background-color: #313641;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: flex-end;
  height: 250px;
  width: 250px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.card::after {
  background: linear-gradient(transparent, #2BCAB7, transparent);
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  content: '';
  opacity: 0;
  transition: top 600ms ease, opacity 600ms ease;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}


@media (prefers-color-scheme: light) {
  .card {
    background-color: rgb(235 236 240)
  }
}

.card-name {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.63);
  font-size: large;
}

.card-image .math {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  scale: 1.05;
  rotate: 0.5deg;
  transition: scale, rotate 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
