.container {
  align-self: "flex-start";
  align-items: center;
  display: flex;
  min-height: 90%;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.folders {
  padding: 30px;
  align-self: flex-start;
  align-items: flex-start;
  animation: fade-in 1s, slide-from-left 1s;
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 50%;
}

.articles {
  padding: 30px;
  align-self: flex-start;
  align-items: flex-start;
  animation: fade-in 1s, slide-from-right 1s;
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 50%;
}

[data-closed] {
  display: none
}

.articles[data-transparent] {
  animation: fade-out 1s, slide-right 1s
}


.folders[data-transparent] {
  animation: fade-out 1s, slide-left 1s
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(-100%)
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(100%)
  }
}
