.nav-bar {
  background-color: #23272F;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.nav-item a {
  position: relative;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 8rem;
  height: 3rem;
  color: inherit;
}

.nav-item a::after {
  background: linear-gradient(to right, transparent, #2BCAB7, transparent);
  height: 1px;
  width: 30px;
  position: absolute;
  bottom: -1px;
  right: 65%;
  content: '';
  opacity: 0;
  transition: right 300ms ease, opacity 300ms ease;
}

.nav-item a:hover:after {
  right: 25%;
  opacity: 1;
}

.nav-item a:hover {
  background-color: #343A46;
}

@media (prefers-color-scheme: light) {
  .nav-item a:hover {
    background-color: #EBECF0;
  }

  .nav-bar {
    background-color: #FFFFFF;
  }
}
