.nav-bar {
  background-color: #23272F;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 2;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

@media (prefers-color-scheme: light) {
  .nav-bar {
    background-color: #FFFFFF;
  }
}


.line-hamburger{
    background-color: white;
    height: 3px;
    width: 40px;
    border-radius: 500px;
}

.nav-icon{
   width:48px;
    height: 48px;
    display:flex;
    flex-direction: column;
    gap:20%;
    justify-content:center;
    align-items: center;
    margin-left: 10%;
    align-self: flex-start;
    transform: translateX(0);
  transition: transform ease-in-out 500ms
}

.close-icon{
    transform: translateX(-600px)
}
